<nav id="menu">
	<h2>Menu</h2>
	<ul>
		{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
		{% for p in navigation_pages %}
			{% if p.navigation_weight %}
				<li>
					<a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
					{{ p.title }}
					</a>
				</li>
		{% endif %}
		{% endfor %}
		
		{% for page in site.pages %}
		{% if page.path == "index.html" %}
		<li><a href="{{ page.url | prepend: site.baseurl | remove: "index.html" }}">{{ page.title }}</a></li>
		{% endif %} {% endfor %}

		{% for page in site.pages %}

		{% if page.title %}

		<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title | remove: "Home" }}</a></li>

		{% endif %} {% endfor %}
	</ul>
</nav>
